apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: fileark
  labels:
    app: fileark
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: fileark
        release: 1.0.0
    spec:
      containers:
        - name: fileark
          image: "gcr.io/MY_PROJECT_ID/fileark:latest"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: BUCKET
              value: ARCHIVE_BUCKET
            - name: PROJECT_ID
              value: MY_PROJECT_ID
            - name: SERVICE_ACCOUNT
              value: "MY_SERVICE_ACCOUNT"
          livenessProbe:
            httpGet:
              path: /_alive
              port: 8080
          readinessProbe:
            httpGet:
              path: /_ready
              port: 8080
