{#
Copyright 2018 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

resources:
- name: sa-{{ env['project_number'] }}-cluster
  type: iam.v1.serviceAccount
  properties:
    accountId: sa-{{ env['project_number'] }}-cluster
    displayName: "Kubernetes cluster default service account"
- name: sa-{{ env['project_number'] }}-vm
  type: iam.v1.serviceAccount
  properties:
    accountId: sa-{{ env['project_number'] }}-vm
    displayName: "Student VM default service account"
- name: get-iam-policy-{{ env['project_number'] }}
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
  properties:
    resource: {{ env['project'] }}
  metadata:
    runtimePolicy:
    - UPDATE_ALWAYS
- name: patch-iam-policy-{{ env['project_number'] }}
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
  properties:
    resource: {{ env['project'] }}
    policy: $(ref.get-iam-policy-{{ env['project_number'] }})
    gcpIamPolicyPatch:
      add:
      - role: roles/editor
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-vm.email)
      - role: roles/storage.objectViewer
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-cluster.email)
      - role: roles/logging.logWriter
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-cluster.email)
      - role: roles/monitoring.metricWriter
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-cluster.email)
      - role: roles/monitoring.viewer
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-cluster.email)
      - role: roles/cloudtrace.agent
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-cluster.email)
      - role: roles/errorreporting.writer
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-cluster.email)
      - role: roles/clouddebugger.agent
        members:
        - serviceAccount:$(ref.sa-{{ env['project_number'] }}-cluster.email)
