# Copyright 2016 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

resources:
- name: {{ env['project_number'] }}-cloudresourcemanager
  action: gcp-types/servicemanagement-v1:servicemanagement.services.enable
  properties:
    consumerId: "project:{{ env['project'] }}"
    serviceName: cloudresourcemanager.googleapis.com
- name: {{ env['project_number'] }}-iam
  action: gcp-types/servicemanagement-v1:servicemanagement.services.enable
  properties:
    consumerId: "project:{{ env['project'] }}"
    serviceName: iam.googleapis.com
- name: {{ env['project_number'] }}-cloudbuild
  action: gcp-types/servicemanagement-v1:servicemanagement.services.enable
  properties:
    consumerId: "project:{{ env['project'] }}"
    serviceName: cloudbuild.googleapis.com
- name: {{ env['project_number'] }}-clouderrorreporting
  action: gcp-types/servicemanagement-v1:servicemanagement.services.enable
  properties:
    consumerId: "project:{{ env['project'] }}"
    serviceName: clouderrorreporting.googleapis.com
- name: iam
  type: iam.jinja
- type: compute.v1.network
  name: {{ env['deployment'] }}-network
  properties:
    autoCreateSubnetworks: true
- type: compute.v1.route
  name: {{ env["deployment"] }}-default-route
  properties:
    network: $(ref.{{ env['deployment'] }}-network.selfLink)
    nextHopGateway: projects/{{ env['project'] }}/global/gateways/default-internet-gateway
    priority: 1000
    destRange: 0.0.0.0/0
- name: central
  type: cluster.jinja
  properties:
    location: us-central1-f
    network: {{ env['deployment'] }}-network
    subnetwork: {{ env['deployment'] }}-network
    purpose: workloads
    apiVersion: v1beta1
    kubernetesVersion: "1.10.4"
    monitoringService: monitoring.googleapis.com/kubernetes
    loggingService: logging.googleapis.com/kubernetes
    sockShop: "installed"
  metadata:
    dependsOn:
    - {{ env['deployment'] }}-network
- name: east
  type: cluster.jinja
  properties:
    location: us-east4-b
    network: {{ env['deployment'] }}-network
    subnetwork: {{ env['deployment'] }}-network
    purpose: workloads
    apiVersion: v1beta1
    kubernetesVersion: "1.10.4"
    monitoringService: monitoring.googleapis.com/kubernetes
    loggingService: logging.googleapis.com/kubernetes
  metadata:
    dependsOn:
    - {{ env['deployment'] }}-network
- name: spinnaker
  type: cluster.jinja
  properties:
    network: {{ env['deployment'] }}-network
    subnetwork: {{ env['deployment'] }}-network
    location: us-central1-f
    purpose: spinnaker
    kubernetesVersion: "1.10.4"
  metadata:
    dependsOn:
    - {{ env['deployment'] }}-network
- type: compute.v1.firewall
  name: {{ env['deployment'] }}-student-ssh
  properties:
    network: $(ref.{{ env['deployment'] }}-network.selfLink)
    sourceRanges:
    - "0.0.0.0/0"
    targetTags:
    - student-vm
    allowed:
    - IPProtocol: tcp
      ports:
      - "22"
- name: student-vm
  type: student-vm.jinja
  metadata:
    dependsOn:
    - iam
    - {{ env['deployment'] }}-network
    - east
    - central
    - spinnaker
  properties:
    zone: us-central1-f
    network: $(ref.{{ env['deployment'] }}-network.selfLink)
- name: student-vm-waiter
  type: waiter.jinja
  properties:
    timeout: 600s
  metadata:
    dependsOn:
    - student-vm
